:root {
    --pic-size: 162px; /*even*/
}

body {
    min-width: 350px;
    background-color: black;
}

#grad {
    height: 100%;
    background-color: black;
    padding: 0px 0px 8px 0px;
}

.logo {
    width: 100%;
    height: 100%;
}

.center-holder {
    display: flex;
    justify-content: center;
    width: 100%
}

.meat-section-title {
    background-image: linear-gradient(to top, rgba(235,46,8,1), rgba(255,127,39,1));
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    color: black;
    font-weight: bold;
    display: block;
    /*margin-bottom: 8px;
    width: 120px;*/
    /*font-size: 24px;*/
}


.meat-price-info-row {
    display: grid; 
    color: white;
    /* grid-template-columns: 220px 54px;  */
    /* font-size: 11px;  */
}

.meat-item-row {
    display: grid; 
    color: white; 
    /* grid-template-columns: 220px 30px;  */
    /* font-size: 20px;  */
    /* margin-bottom: 4px;  */
}
  
.meat-picture {
    width: 100%; 
    margin-top:15px;
    margin-bottom:15px    
}

.menu-row {
    display: grid; 
    width: 100%; 
    grid-template-columns: 50% 50%;
    /* height: 172px; */
    /* margin-top: 12px; */
}

.picture-background {
    background-image: linear-gradient(to top, rgba(235,46,8,1), rgba(255,127,39,1));
    width: 100%;
    object-fit: cover;
    display: flex;
    /* height: 152px;
    margin-top: 10px; */
}

.picture-background-right {
    justify-content: left;
    /* border-radius: 142px 0px 0px 142px; */
}

.picture-background-left {
    justify-content: right; 
    /* border-radius: 0px 142px 142px 0px; */
}

.menu-image {
    object-fit: cover;
    border-radius: 50%;
    /* height: 142px;
    width: 142px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px; */
}


.side-items-holder {
    display: grid;
    width: 100%; 
    column-gap: 1%; 
    color: white;
    /* grid-template-columns: 108px auto; 
    margin-top: 10px;
    margin-left: 8px; 
    height: 130px; */
}
    
.sweet-items-holder {
    display: grid;
    /* grid-template-columns: auto 140px 30px;
    height: 120px;
    margin-top: 5px; */

}

.drink-items-holder {
    display: grid;
    width: 100%;
    column-gap: 1%;
    color: white;
    /* grid-template-columns: 132px auto;
    margin-top: 10px;
    margin-left: 8px;
    height: 160px;  */
}

.menu-section-header {
    background-image: linear-gradient(to top, rgba(235,46,8,1), rgba(255,127,39,1));
    /* display:block;  */
    justify-content:center; 
    align-content: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    /* font-size: 20px;
    width: 120px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 0px; */
    /* display: block; */
}

.menu-item {
    color: white;
    /* font-size: 16px; */
    }


.contact-bar {
    height: 16px;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.contact-item-holder {
    background-image: linear-gradient(to top, rgba(235,46,8,1), rgba(255,127,39,1));
    padding: 0px 6px 5px 8px;
    border-radius: 8px;
}

.contact-item-img {
    height: 8px;
    display: inline;
    padding: 2px 2px 0px 2px;
}

.contact-item-link {
    color: black;
    font-size: 10px;
}

.contact-gap {
    width: 10px;
}

/* Extra small devices (phones, 479px and down) */
@media only screen and (max-width: 479px) {

    /* #grad {
        background-color: brown;
    } */

    .meat-section-title {
        width: 160px;
        font-size: 28px;
        margin-bottom: 8px;
    }
 
    .meat-price-info-row {
        grid-template-columns: 220px 54px; 
        font-size: 11px; 
    }
 
    .meat-item-row {
        font-size: 20px; 
        grid-template-columns: 220px 30px; 
        margin-bottom: 4px; 
    }
 
    .menu-row {
        height: 172px;
        margin-top: 12px;
    }

    .picture-background {
        height: 152px;
        margin-top: 10px;
    }
    
    .picture-background-right {
        border-radius: 142px 0px 0px 142px;
    }
    
    .picture-background-left {
        border-radius: 0px 142px 142px 0px;
    }
    
    .menu-image {
        height: 142px;
        width: 142px;
        margin-top: 5px;
    }
    .menu-image-left {
        margin-right: 5px;
    }
    .menu-image-right {
        margin-left: 5px;
    }

    .side-items-holder {
        grid-template-columns: 108px auto; 
        margin-top: 10px;
        margin-left: 8px; 
        height: 130px;
    }
        
    .sweet-items-holder {
        grid-template-columns: auto 140px 30px;
        height: 120px;
        margin-top: 5px;

    }
    
    .drink-items-holder {
        grid-template-columns: 132px auto;
        margin-top: 10px;
        margin-left: 8px;
        height: 160px; 
    }

    .menu-section-header {
        font-size: 22px;
        width: 120px;
        padding: 4px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        }

    .menu-item {
        font-size: 16px;
    }
   
}

/* Small devices (phones, 48px and up) */
@media only screen and (min-width: 480px) {

    /* #grad {
        background-color: purple;
    } */

    .meat-section-title {
        width: 160px;
        font-size: 28px;
        margin-bottom: 8px;

    }
 
    .meat-price-info-row {
        grid-template-columns: 220px 54px; 
        font-size: 11px; 
    }
 
    .meat-item-row {
        font-size: 20px; 
        grid-template-columns: 220px 30px; 
        margin-bottom: 4px; 
    }
 
    .menu-row {
        height: 172px;
        margin-top: 12px;
    }

    .picture-background {
        height: 152px;
        margin-top: 10px;
    }
    
    .picture-background-right {
        border-radius: 142px 0px 0px 142px;
    }
    
    .picture-background-left {
        border-radius: 0px 142px 142px 0px;
    }
    
    .menu-image {
        height: 142px;
        width: 142px;
        margin-top: 5px;
    }
    .menu-image-left {
        margin-right: 5px;
    }
    .menu-image-right {
        margin-left: 5px;
    }

    .side-items-holder {
        grid-template-columns: 128px auto; 
        margin-top: 10px;
        margin-left: 28px; 
        height: 130px;
    }
        
    .sweet-items-holder {
        grid-template-columns: auto 170px 40px;
        height: 120px;
        margin-top: 5px;

    }
    
    .drink-items-holder {
        grid-template-columns: 152px auto;
        margin-top: 10px;
        margin-left: 28px;
        height: 160px; 
    }

    .menu-section-header {
        font-size: 22px;
        width: 120px;
        padding: 4px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        }

    .menu-item {
        font-size: 18px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* #grad {
        background-color: blue;
    } */

    .meat-section-title {
        width: 160px;
        font-size: 28px;
        margin-bottom: 8px;

    }
 
    .meat-price-info-row {
        grid-template-columns: 280px 54px; 
        font-size: 11px; 
    }
 
    .meat-item-row {
        font-size: 22px; 
        grid-template-columns: 280px 40px; 
        margin-bottom: 4px; 
    }
 
    .menu-row {
        height: 172px;
        margin-top: 12px;
    }

    .picture-background {
        height: 152px;
        margin-top: 10px;
    }
    
    .picture-background-right {
        border-radius: 142px 0px 0px 142px;
    }
    
    .picture-background-left {
        border-radius: 0px 142px 142px 0px;
    }
    
    .menu-image {
        height: 142px;
        width: 142px;
        margin-top: 5px;
    }
    .menu-image-left {
        margin-right: 5px;
    }
    .menu-image-right {
        margin-left: 5px;
    }

    .side-items-holder {
        grid-template-columns: 128px auto; 
        margin-top: 10px;
        margin-left: 28px; 
        height: 130px;
    }
        
    .sweet-items-holder {
        grid-template-columns: auto 170px 40px;
        height: 120px;
        margin-top: 5px;

    }
    
    .drink-items-holder {
        grid-template-columns: 152px auto;
        margin-top: 10px;
        margin-left: 28px;
        height: 160px; 
    }

    .menu-section-header {
        font-size: 22px;
        width: 120px;
        padding: 4px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        }

    .menu-item {
        font-size: 18px;
    }
   


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* #grad {
        background-color: green;
    } */

    .meat-section-title {
        width: 160px;
        font-size: 32px;
        margin-bottom: 8px;

    }
 
    .meat-price-info-row {
        grid-template-columns: 320px 54px; 
        font-size: 11px; 
    }
 
    .meat-item-row {
        font-size: 24px; 
        grid-template-columns: 320px 40px; 
        margin-bottom: 4px; 
    }
 
    .menu-row {
        height: 172px;
        margin-top: 12px;
    }

    .picture-background {
        height: 152px;
        margin-top: 10px;
    }
    
    .picture-background-right {
        border-radius: 142px 0px 0px 142px;
    }
    
    .picture-background-left {
        border-radius: 0px 142px 142px 0px;
    }
    
    .menu-image {
        height: 142px;
        width: 142px;
        margin-top: 5px;
    }
    .menu-image-left {
        margin-right: 5px;
    }
    .menu-image-right {
        margin-left: 5px;
    }

    .side-items-holder {
        grid-template-columns: 128px auto; 
        margin-top: 10px;
        margin-left: 28px; 
        height: 130px;
    }
        
    .sweet-items-holder {
        grid-template-columns: auto 170px 40px;
        height: 120px;
        margin-top: 5px;

    }
    
    .drink-items-holder {
        grid-template-columns: 152px auto;
        margin-top: 10px;
        margin-left: 28px;
        height: 160px; 
    }

    .menu-section-header {
        font-size: 22px;
        width: 120px;
        padding: 4px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        }

    .menu-item {
        font-size: 18px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* #grad {
        background-color: cyan;
    } */
    
    .meat-section-title {
        width: 160px;
        font-size: 34px;
        margin-bottom: 8px;

    }
 
    .meat-price-info-row {
        grid-template-columns: 380px 64px; 
        font-size: 12px; 
    }
 
    .meat-item-row {
        font-size: 24px; 
        grid-template-columns: 380px 40px; 
        margin-bottom: 4px; 
    }
 
    .menu-row {
        height: 172px;
        margin-top: 12px;
    }

    .picture-background {
        height: 152px;
        margin-top: 10px;
    }
    
    .picture-background-right {
        border-radius: 142px 0px 0px 142px;
    }
    
    .picture-background-left {
        border-radius: 0px 142px 142px 0px;
    }
    
    .menu-image {
        height: 142px;
        width: 142px;
        margin-top: 5px;
    }
    .menu-image-left {
        margin-right: 5px;
    }
    .menu-image-right {
        margin-left: 5px;
    }

    .side-items-holder {
        grid-template-columns: 128px auto; 
        margin-top: 10px;
        margin-left: 28px; 
        height: 130px;
    }
        
    .sweet-items-holder {
        grid-template-columns: auto 170px 40px;
        height: 120px;
        margin-top: 5px;

    }
    
    .drink-items-holder {
        grid-template-columns: 152px auto;
        margin-top: 10px;
        margin-left: 28px;
        height: 160px; 
    }

    .menu-section-header {
        font-size: 22px;
        width: 120px;
        padding: 4px;
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        }

    .menu-item {
        font-size: 18px;
    }
   


}